.rightside{
    background-color: #181818;
    color: white;
    margin-left: 16vw;
    margin-top: -105vh;
    height: 100vh;
    width: 1290px;
}
.rightfirst{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.rightfirst .search{
    display: flex;
    align-items: center;
    border: 1px solid #2F2F2F;
    margin-left: 200px;
}
.search:click{
    background-color: #fff;
}

 
.rightfirst .search .searchtxt{
    opacity: 0.5;
    padding-left: 10px;
    padding-right: 400px;
}

.rightfirst .search .searchimg{
    background-color: #323232;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;

}
.rightfirst .search .searchimg:hover{
    background-color:rgb(84, 77, 77);
    
}
.mic{
    margin-left: 10px;
}
.rightbar{
    margin-left: 250px;
    padding-right: 40px;
    
    
}
.rightbar .create{
    margin-left: 8px;
    padding-right: 20px;
}
.photo{
    background-color: #2F2F2F;
    height: 3.5vh;
    width: 1.9vw;
    margin-left: 10vw;
    margin-top: -3.6vh;
    border-radius: 30px;
}
.hr5{
    margin-top: -1vh;
}
.videos{
    margin-left: 1.5vw;
    margin-top: 1.5vh;
}
.logo{
    margin-top: -1.5vh;
}.par{
    margin-left: 4.1vw;
    margin-top: -6.5vh;
    width: 14vw;
}
.li{
    display: grid;
    grid-template-columns: 3.5vw 8.3vw 3.5vw 8.5vw 5.7vw 8.2vw 5.7vw 8.3vw 5.7vw 7vw 10vw 5vw;
    margin-top: -1vh;
    margin-left: 1.5vw;
    /* text-align: justify; */
    
}
.libar1{
    margin-top:8px;
    text-align: center;
    background-color: white;
    color:black;
    height: 3.1vh;
    width: 2.3vw;
    padding-top: 3.3px;
    border-radius: 20px;

}


.libar3{
    margin-top:8px;
    text-align: center;
    background-color: #2F2F2F;
    color:white;
    height: 3.1vh;
    width: 2.3vw;
    padding-top: 3.3px;
    border-radius: 20px;

}
.libar2{
    background-color: #2F2F2F;
    width: 7vw;
    height: 3.3vh;
    margin-top: 8px;
    text-align: center;
    padding-top: 3.5px;
    border-radius: 25px;
}
.libar4{
    background-color: #2F2F2F;
    width: 4.5vw;
    height: 3.3vh;
    margin-top: 8px;
    text-align: center;
    padding-top: 3.5px;
    border-radius: 25px;

}
.libar5{
    background-color: #2F2F2F;
    width: 6vw;
    height: 3.3vh;
    margin-top: 8px;
    text-align: center;
    padding-top: 3.5px;
    border-radius: 25px;

}
.libar6{
    background-color: #2F2F2F;
    width: 11vw;
    height: 3.3vh;
    margin-top: 8px;
    text-align: center;
    padding-top: 3.5px;
    border-radius: 25px;

}








.firstcard{
    padding-bottom: 5px;
    width: 290px;
}
.firstcard:hover{
    opacity: 50%;
}
.cardflex{
    display: flex;

}

.cardflex img{
    padding-right: 20px;
    width: 40px;
}
.cardtxt{
    margin-left: 60px;
    margin-top: 4px;
    width: 180px;
    padding-bottom: 10px;
    opacity: 0.5;
}
.cardtxt img{
    width: 15px;
}
.cardtitle{
    width: 240px;
    font-size: 18px;
}
/* .main{
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw ;
    margin-left: 1.5vw;
    overflow-x: hidden;
} */

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    margin-top: 5vh;
}