.rightside{
    background-color: #181818;
    color: white;
    margin-left: 16vw;
    margin-top: -101.4vh;
    height: 100vh;
}
.rightfirst{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.rightfirst .search{
    display: flex;
    align-items: center;
    border: 1px solid #2F2F2F;
    margin-left: 200px;
}
.rightfirst .search .searchtxt{
    opacity: 0.5;
    padding-left: 10px;
    padding-right: 400px;
}
.rightfirst .search .searchimg{
    background-color: #323232;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;

}
.mic{
    margin-left: 10px;
}
.rightbar{
    margin-left: 250px;
    padding-right: 40px;
    
    
}
.rightbar .create{
    margin-left: 8px;
    padding-right: 20px;
}
.hr5{
    margin-top: 5.5vh;
}
.videos{
    margin-left: 1.5vw;
    margin-top: 1.5vh;
}
.logo{
    margin-top: -1.5vh;
}.par{
    margin-left: 4.1vw;
    margin-top: -6.5vh;
    width: 14vw;
}
.card .firstcard{
    padding-bottom: 5px;
    width: 290px;
}
.cardflex{
    display: flex;

}

.cardflex img{
    padding-right: 20px;
    width: 40px;
}
.cardtxt{
    margin-left: 60px;
    margin-top: 4px;
    width: 180px;
    padding-bottom: 10px;
    opacity: 0.5;
}
.cardtxt img{
    width: 15px;
}
.cardtitle{
    width: 230px;
    font-size: 18px;
}
.main{
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw ;
    margin-left: 1.5vw;
    overflow-x: hidden;
}
